{% extends "base.html" %} {% block content %}

    <div>

        <div class="interactive_part">
            <canvas width="560" height="560" style="border: 1px solid black" id="canvas_draw"></canvas>
        </div>

        <div class="graph_part">
            <button class="btn" id="clear_canvas">Clear</button>
            <button class="btn" id="make_predict">Predict</button>

            <div id="chartContainer"></div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/model.js') }}" type="text/javascript"></script>
    <script>
        window.onload = function () {
            updateValues([0, 0, 0, 0, 0, 0, 0, 0, 0, 0]);
        }
    </script>


{% endblock %}
