{% extends "base.html" %} {% block content %}

    <div>

        <div class="interactive_part">
            <canvas width="700" height="700" style="border: 1px solid black" id="canvas_draw"></canvas>
        </div>

        <div class="graph_part">
            <button class="btn" id="clear_canvas">Clear</button>
            <button class="btn" id="make_predict">Predict</button>
            <span id="number_info"></span>

            <div id="chartContainer"></div>
        </div>

    </div>

{% endblock %}
